@import url("https://fonts.googleapis.com/css?family=Quattrocento:100,100italic,300,300italic,400,400italic,700,700italic");
/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}
body {
    font-family: 'Quattrocento', sans-serif;
    font-weight: 300;
    font-size: 18pt;
    color: #666;
    line-height: 1.5;
}

/* Major regions */
nav {
    padding: 10px;
    text-align: center;
}
nav img,
nav ul {
    display: inline-block;
}
nav #logo {
    border: none;
}
nav img {
    width: 200px;
}
nav ul {
    vertical-align: top;
    list-style-type: none;
    text-align: left;
}
nav li a {
    display: inline-block;
}
section {
    padding: 10px 30px;
}
section > h1 ~ img {
    text-align: center;
}
section.wide {}
section.jumbotron {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: solid white;
    border-width: 0 2vw;
    height: 30vh;
}
section.jumbotron.home {
    background-image: url("../../images/header.jpg");
}
section.jumbotron.about {
    background-image: url("../../images/love.jpg");
}
section.jumbotron > * {
    max-width: 100%;
}
/* Images on Welcoming Week page */
/* TODO: handle scaling in a less clumsy way than this mess */
.row .row > div > img,
.row > div > img {
    width: 100%;
}
footer {
    background: #eee;
    color: #aaa;
    font-size: 80%;
    text-align: center;
    padding: 1em 3em;
}
@media (min-width: 800px) {
    nav ul {
        margin-left: 5px;
    }
    section {
        padding: 30px 50px;
    }
    section > * {
        max-width: 10in;
        margin: 0 auto;
    }
    section.wide > * {
        max-width: 14in;
    }
}
@media (min-width: 1000px) {
    section.jumbotron {
        height: 80vh;
    }
    /* Rows */
    .row {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        align-items: stretch;
    }
    .row > * {
        box-sizing: border-box;
        padding: 20px;
        vertical-align: middle;
    }
    .row > .col-1 { width: 8.3333333333%; }
    .row > .col-2 { width: 16.6666666667%; }
    .row > .col-3 { width: 25%; }
    .row > .col-4 { width: 33.3333333333%; }
    .row > .col-5 { width: 41.6666666667%; }
    .row > .col-6 { width: 50%; }
    .row > .col-7 { width: 58.3333333333%; }
    .row > .col-8 { width: 66.6666666667%; }
}

/* Major elements */
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
h1 {
    text-align: center;
}
a {
    transition: 0.25s ease-in-out;
    color: inherit;
    text-decoration: none;
    border-bottom: solid 1px rgba(0, 0, 0, 0.3);
}
a:hover {
    border-bottom-color: rgba(0, 0, 0, 1);
}
p {
    text-align: justify;
    padding: 6px 0;
}
