@import url("https://fonts.googleapis.com/css?family=Quattrocento:100,100italic,300,300italic,400,400italic,700,700italic");
/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}
body {
    font-family: 'Quattrocento', sans-serif;
    font-weight: 300;
    font-size: 18pt;
    color: #666;
    line-height: 1.5;
}
/* Major regions */
nav {
    padding: 10px;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 50px;
    background-color: white;
    text-align: center;
    transition: box-shadow 0.3s;
}
nav img,
nav ul {
    display: inline-block;
}
nav #logo {
    border: none;
}
nav img {
    height: 150px;
    width: 150px;
    transition: width 0.3s, height 0.3s;
}
nav ul {
    vertical-align: top;
    list-style-type: none;
    text-align: left;
}
nav.floating {
    box-shadow: 3px 3px 12px rgba(12, 12, 12, 0.5);
}
nav.floating img {
    height: 50px;
    width: 50px;
}
nav li {
    position: relative;
    margin-left: 20px;
    display: inline-block;
    border-radius: 50%;
    transition: border-bottom 0.3s, border-radius 0.3s;
}
body > nav + section {
    margin-top: 50px;
}
section {
    padding: 10px 30px;
}
section > h1 ~ img {
    text-align: center;
}
section ul {
    padding-left: 25px;
}
section.wide {}
section.jumbotron {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: solid white;
    border-width: 0 2vw;
    height: 50vh;
}
section.jumbotron.home {
    background-image: url("../../images/header.jpg");
}
section.jumbotron.about {
    background-image: url("../../images/love.jpg");
}
section.jumbotron > * {
    max-width: 100%;
}
/* Images on Welcoming Week page */
/* TODO: handle scaling in a less clumsy way than this mess */
.row .row > div > img,
.row > div > img {
    width: 100%;
}
footer {
    background: #eee;
    color: #aaa;
    font-size: 80%;
    text-align: center;
    padding: 1em 3em;
}
@media (min-width: 1276px) {
    body > nav + section > h1 + p {
        margin-top: 20px;
    }
    nav ul {
        margin: 0px 5px;
    }
    section {
        padding: 30px 50px;
    }
    section > * {
        max-width: 10in;
        margin: 0 auto;
    }
    section.wide > * {
        max-width: 14in;
    }
    section.jumbotron {
        height: 80vh;
    }
    /* Rows */
    .row {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        align-items: stretch;
    }
    .row > * {
        box-sizing: border-box;
        padding: 20px;
        vertical-align: middle;
    }
    .row > .col-1 { width: 8.3333333333%; }
    .row > .col-2 { width: 16.6666666667%; }
    .row > .col-3 { width: 25%; }
    .row > .col-4 { width: 33.3333333333%; }
    .row > .col-5 { width: 41.6666666667%; }
    .row > .col-6 { width: 50%; }
    .row > .col-7 { width: 58.3333333333%; }
    .row > .col-8 { width: 66.6666666667%; }
}

@media (max-width: 649px) {
    #partner-images {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        box-sizing: border-box;
        align-items: stretch;
        justify-items: center;
    }
    #partner-images > * {
        margin: 0 auto;
        box-sizing: border-box;
        padding: 20px;
        vertical-align: middle;
    }
    #partner-images img {
        max-height: 100px;
        max-width: 300px;
    }
}
@media (min-width: 650px) and (max-width: 1275px) {
    /* Rows */
    .row.small {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        align-items: stretch;
    }
    .row.small > * {
        box-sizing: border-box;
        padding: 20px;
        vertical-align: middle;
    }
    .row.small > .col-1 { width: 8.3333333333%; }
    .row.small > .col-2 { width: 16.6666666667%; }
    .row.small > .col-3 { width: 25%; }
    .row.small > .col-4 { width: 33.3333333333%; }
    .row.small > .col-5 { width: 41.6666666667%; }
    .row.small > .col-6 { width: 50%; }
    .row.small > .col-7 { width: 58.3333333333%; }
    .row.small > .col-8 { width: 66.6666666667%; }
}
@media (max-width: 1050px) {
    nav {
        position: relative;
        height: auto;
    }
    nav ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    section.jumbotron {
        height: 30vh;
    }
    nav li {
        margin-top: 5px;
    }
    body > nav + section {
        margin-top: 0px;
    }
}
@media (max-width: 1276px) {
    nav ul {
        font-size: 20px;
    }
    body {
        font-size: 15pt;
    }
    nav img {
        height: 100px;
        width: 100px;
    }
}

/* Major elements */
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
h1 {
    text-align: center;
}
a {
    transition: all 0.25s ease-out;
    color: inherit;
    text-decoration: none;
    border-bottom: solid 1px rgba(0, 0, 0, 0.3);
}
a:hover {
    border-bottom-color: rgba(0, 0, 0, 1);
}
li a {
    border-bottom: none;
}
nav li a:hover::after {
    transform: scaleX(1);
    visibility: visible;
}
nav li a::after {
    transform: scaleX(0);
    width: 100%;
    content: '';
    position: absolute;
    z-index: 2;
    left: 0%;
    bottom: 0px;
    height: 2px;
    background-color: black;
    transition: transform 0.2s ease-in-out;
}
p {
    text-align: justify;
    padding: 6px 0;
}
.motive {
    font-weight: bold;
}
p.heading {
    text-decoration: underline;
}
