<!-- Footer -->
<section id="footer">
    <!--
        <ul class="icons">
        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
        <li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
        </ul>
    -->
    <div class="copyright">
        <ul class="menu">
            <li>&copy; 2018 Welcoming Falls Church. All rights reserved.</li><li>Designed by <a href="https://erikboesen.com">Erik Boesen</a>.</li>
        </ul>
    </div>
</section>
