@import url("https://fonts.googleapis.com/css?family=Quattrocento:100,100italic,300,300italic,400,400italic,700,700italic");
/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}
body {
    font-family: 'Quattrocento', sans-serif;
    font-weight: 300;
    font-size: 18pt;
    color: #666;
    line-height: 1.4;
}

/* Major regions */
nav {
    padding: 10px;
}
nav img,
nav ul {
    display: inline-block;
}
nav img {
    width: 200px;
}
nav ul {
    vertical-align: top;
    list-style-type: none;
}
nav li a {
    display: inline-block;
    margin: 2px 0;
    left: 0;
}
section {
    padding: 10px 30px;
}
.jumbotron {
    background-image: url("images/overlay.png"), url("../../images/header.jpg");
    background-size: auto, cover;
    background-position: top left, center center;
    background-repeat: repeat, no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 30px;
}
footer {
    text-align: center;
    color: #aaa;
    padding: 1em 0;
}
.dark {
    color: white;
}
@media (min-width: 800px) {
    nav {
        position: absolute;
        top: 0;
        z-index: 10;
    }
    section {
        padding: 30px 50px;
    }
    section > * {
        max-width: 10in;
        margin: 0 auto;
    }
}

/* Major elements */
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
a {
    transition: 0.25s ease-in-out;
    color: inherit;
    text-decoration: none;
    border-bottom: solid 1px rgba(0, 0, 0, 0.3);
}
a:hover {
    border-bottom-color: rgba(0, 0, 0, 1);
}
.dark a {
    border-bottom-color: rgba(255, 255, 255, 0.5);
}
.dark a:hover {
    border-bottom-color: rgba(255, 255, 255, 0);
}
p {
    text-align: justify;
    padding: 6px 0;
}
/* Row */
/* TODO: Minimize number of rules */
.row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
}
.row > * {
    box-sizing: border-box;
}
.row > .col-1 {
    width: 8.3333333333%;
}
.row > .off-1 {
    margin-left: 8.3333333333%;
}
.row > .col-2 {
    width: 16.6666666667%;
}
.row > .off-2 {
    margin-left: 16.6666666667%;
}
.row > .col-3 {
    width: 25%;
}
.row > .off-3 {
    margin-left: 25%;
}
.row > .col-4 {
    width: 33.3333333333%;
}
.row > .off-4 {
    margin-left: 33.3333333333%;
}
.row > .col-5 {
    width: 41.6666666667%;
}
.row > .off-5 {
    margin-left: 41.6666666667%;
}
.row > .col-6 {
    width: 50%;
}
.row > .off-6 {
    margin-left: 50%;
}
.row > .col-7 {
    width: 58.3333333333%;
}
.row > .off-7 {
    margin-left: 58.3333333333%;
}
.row > .col-8 {
    width: 66.6666666667%;
}
.row > .off-8 {
    margin-left: 66.6666666667%;
}
#about {
    background: url("../../images/love.jpg") top left no-repeat;
    background-size: cover;
    height: 45vw;
}
#partners {
    background: url("images/bgtr.svg") top right no-repeat, url("images/bgbl.svg") bottom left no-repeat, url("images/overlay.png"), linear-gradient(45deg, #384955, #655361, #85505f);
}
