<!DOCTYPE HTML>
<html>
    <head>
        <title>Welcoming Falls Church</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="assets/css/main.css" />
        <!-- Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125102910-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-125102910-1');
        </script>

    </head>
    <body class="is-preload">

        {% include header.html %}

        <!-- TODO: This whole HTML structure is a mess. Should be fixed. -->

        {{ content }}

                <!-- Footer -->
                <section id="footer">
                    <!--
                        <ul class="icons">
                        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                        <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                        <li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
                        </ul>
                    -->
                    <div class="copyright">
                        <ul class="menu">
                            <li>&copy; 2018 Welcoming Falls Church. All rights reserved.</li><li>Designed by <a href="https://erikboesen.com">Erik Boesen</a>.</li>
                        </ul>
                    </div>
                </section>

                <!-- Scripts -->
                <script src="assets/js/jquery.min.js"></script>
                <script src="assets/js/jquery.scrolly.min.js"></script>
                <script src="assets/js/browser.min.js"></script>
                <script src="assets/js/breakpoints.min.js"></script>
                <script src="assets/js/util.js"></script>
                <script src="assets/js/main.js"></script>
    </body>
</html>
